
html {font-family:OsloLightRegular !important;font-weight:lighter}
body {background:#fff;margin:0;padding:0;font-family:OsloLightRegular !important;font-size:13px}
.top {height:7px; width:100%;background:#322c29}
.gray {background:#a39991;width:100%;padding:10px 0}
.shadMenu {background:url(../images/menu.png) repeat-x center top;height:50px;width:100%;padding-top:5px;position:relative;z-index:99; }
.auto {width:1024px;margin:auto}

/*--------------------tools-----------------*/
.clr {clear:both}

h3,h4,h5,h6 {font-family:OsloLightRegular !important;font-size:18px !important;font-weight:normal !important}
p {font-family:OsloLightRegular !important}
ul {margin:0;padding:0;list-style:none;font-family:OsloLightRegular !important}
a {text-decoration:none;color:#333;font-family:OsloLightRegular !important}
a:hover {color:#000}
img {border:none}

/*--------------------slider----------------*/
.wrapper {margin-left: auto;margin-right: auto;min-width: 940px;width:940px;height:100%;padding-left:10px;padding-right:10px;}
.shadow{background: url('../images/slider-shadow.png');background-repeat:no-repeat;background-position:center;height:350px;width:40px}

/*--------------------divlogo---------------*/
.divlogo {height:100px;background:#fff;width:100%;padding-top:40px}
.logo {width:271px;height:68px;float:left;margin:0 0 0 0}

.upMenu {width:175px;float:right}
.upMenu ul {width:185px}
.upMenu li {display:inline-block;float:left;color:#3c3c3c;font-size:12px}
.upMenu li a {display:inline-block;padding:5px;color:#3c3c3c;font-size:12px;margin:10px 0 0}
.upMenu li a:hover {color:#ef8328}



/*-------------------menu-------------------*/
.menu {margin:0 0 0 -30px}
.menu li {display:block;float:left;color:#fff;position:relative;-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;-o-transition: color .2s ease-in-out;-ms-transition: color .2s ease-in-out;transition: color .2s ease-in-out;}
.menu li ul {display:none}
.menu li:hover ul {display:block;padding-top:15px}
.menu li a {display:inline-block;padding:0 15px;color:#fff;font-size:15px;margin:7px 0;-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;-o-transition: color .2s ease-in-out;-ms-transition: color .2s ease-in-out;transition: color .2s ease-in-out;}
.menu li a:hover {color:#000}
.nav {padding:0;width:1124px}
/* Sub Menu */
.menu ul {position: absolute;top: 23px;left: 0;height:auto;background: #1f2024;-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;
-webkit-transition: opacity .25s ease .1s;-moz-transition: opacity .25s ease .1s;-o-transition: opacity .25s ease .1s;-ms-transition: opacity .25s ease .1s;transition: opacity .25s ease .1s;
background: #a39991;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;z-index:999999999}
.menu li:hover > ul { opacity: 1; }
.menu ul li {overflow: hidden;padding: 0;-webkit-transition: height .25s ease .1s;-moz-transition: height .25s ease .1s;-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;transition: height .25s ease .1s;font-size:12px}
.menu li:hover > ul li {overflow: visible;padding: 0;}
.menu ul li a {min-width:150px;padding: 5px 10px;margin: 0;border: none;border-bottom: 1px solid #d6d1cd !important;font-size:13px}
.menu ul li:last-child a { border: none; }



/*---------------------------------------------------body------------------------------------------------------*/
/*-------------------bodyLeft-------------------*/
.bodyLeft {width:200px;float:left;margin:15px 10px 0 0}
.bodyLeft img {width:200px !important}
.Cat{}
.topCat {height:10px;background:url(../images/topCat.png) no-repeat center top;margin:0 0 0}
.Cat {}
.Cat h1 {margin:0px auto;padding:0 0 0;height:40px;font-size:16px;color:#333;border-bottom:1px solid #ccc;line-height:40px;}
.Cat ul {margin:0px 10px 20px 0px}
.Cat li a {color:#322c29;display:block;padding:4px 0 4px 10px;background:url(../images/Cat.png) no-repeat center left;font-size:13px}
.Cat li a:hover {color:#357b8d}



.bottomCat {height:11px;background:url(../images/bottomCat.png) no-repeat center top}
/*-------------------bodyMiddle-------------------*/
.bodyMiddle {width:500px;float:left;margin:15px 0 0 4px}

.GetoneCat {margin:12px 0 0 0;width:500px;height:250px; -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);}
.GetoneCat em {width:500px;height:220px;display:block;overflow:hidden}
.GetoneCat em img {width:500px;position:relative;top:-20%;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}
.GetoneCat span {font-size:12px;font-weight:lighter;display:block;height:15px;overflow:hidden;width:500px;
                       margin:0 auto 0;color:#000;text-align:left;font-weight:lighter;padding:5px;line-height:20px}

.GetoneCat a:hover em img {opacity:0.7}


.Lastarticles {margin:0;width:520px;
    }
.Lastarticles ul {margin:0 0 0 15px;width:520px}
.Lastarticles li {margin-bottom:20px;
                   display: inline-block; margin: 0 17px 15px 0px; -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3); background: #FEFEFE;padding:0px;width:235px;height:250px}
	.Lastarticles li a em {width:235px;height:220px;display:block;overflow:hidden}
.Lastarticles li a img {position:relative;width:280px;padding:0;display:block;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}

.Lastarticles li span {font-size:12px;font-weight:lighter;display:block;height:15px;overflow:hidden;width:225px;
                       margin:0 auto 0;color:#000;text-align:left;font-weight:lighter;padding:5px;line-height:20px}
.Lastarticles li a:hover span {}

/*.Lastarticles li a img{-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}*/
.Lastarticles li a:hover img {opacity:0.7}
.Lastarticles li b {width:83px;height:83px;background:url(../images/zoom.png) no-repeat center;margin:-150px auto 0;position:relative;z-index:999;display:block}

a.loveit {color:#777;display:inline-block !important;height:24px !important;line-height:24px !important;margin:0 0 0;font-size:12px}
a.loveit img {width:24px !important;height:24px !important;display:inline-block !important;margin:0 0 -8px !important}
a.loveit:hover {color:#000}
.bodyMiddle h3 {margin:0;padding:0}

.pluginCountButton,.pluginCountNum,pluginCountBox { display:none !important;background:green}
.sp_like {background:url(../images/loveit.png) no-repeat center center !important}

.ruleer {width:518px;height:1px;background:url(../images/ruleer.png) no-repeat center;margin:0 auto 25px}





.Category2 {width:100%;
 -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 3;
    column-gap: 10px;
    column-fill: auto;
}
.Category2 li { -moz-column-break-inside: avoid; -webkit-column-break-inside: avoid; column-break-inside: avoid; display: inline-block; margin: 0 2px 15px; padding: 10px
                ; -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3); background: #FEFEFE; background-image: linear-gradient(45deg, #FFF, #F9F9F9); }
.Category2 li {width:290px;margin:10px 7px;padding:10px;}
.Category2 li:hover {}
.Category2.photos li {margin-bottom:20px}
.Category2 li a img {width:290px;padding:0;display:block}
.Category2 li a:hover img {}
.Category2 li span {font-size:12px;font-weight:lighter;display:block;background:url(../images/bg.png);height:20px;overflow:hidden;width:290px;margin:0;color:#000;text-align:left;font-weight:lighter;font-size:14px;padding-top:12px}
.Category2 li a:hover span {display:block}

.Category2 li b {width:83px;height:83px;background:url(../images/zoom.png) no-repeat center;margin:0;display:block}


.smallArticle {background:#a39991;height:116px;overflow:hidden;margin:15px auto 35px;width:480px;-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3)}
.smallArticle img {width:209px;height:116px;float:right;margin:0 0 0 10px;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}
.smallArticle span {float:left;display:inline-block;width:250px;margin:5px 5px 0;font-size:14px}
.smallArticle a {height:116px;display:block}
.smallArticle a span  {color:#fff}
.smallArticle a:hover span  {color:#edeaea}
.smallArticle span strong {display:block;margin:0 0 10px 0;font-size:17px;font-weight:normal}
.smallArticle a:hover img {opacity:0.5}


.bigArticle {background:#fff;height:228px;overflow:hidden;margin:0 0 15px 0;width:490px;-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3)}
.bigArticle img {width:219px;height:232px;float:left;margin:0 10px 0 0;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}
.bigArticle span {float:right;display:inline-block;width:250px;margin:5px 5px 0;font-size:15px;height:218px;overflow:hidden}
.bigArticle a {height:202px;display:block;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}
.bigArticle a span  {color:#999;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}
.bigArticle a:hover span  {color:#444}
.bigArticle span strong {display:block;margin:0 0 10px 0;font-size:17px;font-weight:normal;color:#357b8d}
.bigArticle a:hover img {opacity:0.8}

/*-------------------bodyRight-------------------*/
.bodyRight {width:300px;float:right;margin:15px 0px 0 0}
.bodyRight img {width:300px !important}

.yourWeddingGuideCatalog {height:228px;background:url(../images/yourWeddingGuideCatalog.jpg) no-repeat top center;display:block}
.yourWeddingGuideCatalog span {display:block;background:green;margin:100px 0 0 0;height:50px}
.fb-like-box {margin:0 0 0;background:#fff}
.clearfix {display:none !important}
/*--------------------bodyBig--------------------*/

.bodyBig {width:717px;float:left;margin:5px 20px 10px 0}
 img.fullWidth {width:500px;display:block;margin:0px}
.lastvideo {height:214px;width:500px;margin:0 0 20px 0px}
.lastvideo h1 {height:35px;line-height:35px;margin:0;padding:0 0 0 20px;color:#222;font-size:15px;font-weight:lighter;color:#fff}
.lastvideo h6,h6.titles {height:35px !important;line-height:35px !important;margin:0 !important;padding:0 !important;font-size:16px !important;font-weight:lighter;border-bottom:1px solid #ccc;color:#418FA5 !important}
h6.titles {margin-bottom:15px !important}
a.dagher span {-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}
a.dagher {background:url(../images/DagherAdd.jpg) no-repeat top center;display:block;margin:13px 0 0 0;height:287px;width:200px;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}
a.dagher:hover  {background:url(../images/DagherAdd.jpg) no-repeat bottom center;}

.mp3 {margin:25px 0 0 0}
.relatedArticles {width:190px;float:right;padding:0 0 0 10px}
.relatedArticles li {padding:5px 0}
.relatedArticles li em {display:block;width:180px;height:165px;overflow:hidden;margin:0 0 10px 0}
.relatedArticles li em img {width:180px;position:relative}
.relatedArticles li span {height:60px;display:block;overflow:hidden}
.relatedArticles h1 {font-size:15px;height:30px;line-height:30px;border-bottom:1px solid #777;margin:0 0 15px 0;padding:0}


/*------------------------------Video---------------------*/


#block_editors_choice{width:500px;position:relative;height:156px;margin:15px 0 0 3px}
#block_editors_choice b {display:block;height:25px;line-height:25px;overflow:hidden;text-align:center;width:155px;font-size:13px;font-weight:normal}
#block_editors_choice li{float:left;margin:0 6px 0}
#block_editors_choice li a img {width:150px;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}
#block_editors_choice li a:hover img {opacity:0.7}

#block_editors_choice .thumbNav li{display:none;}
#block_editors_choice .editors_inner{background:#ebebeb;padding:10px;height:90px;width:280px;}
#block_editors_choice .editors_inner2{padding-right:10px;}
#block_editors_choice .editors_left{height:90px;width:120px;overflow:hidden;padding-right:10px;float:left;}
#block_editors_choice .editors_right{height:90px;width:150px;float:left;overflow:hidden;}
#block_editors_choice h4{margin-bottom:4px;}
#block_editors_choice ul{height:156px;width:518px;overflow:hidden;}
#block_editors_choice .anythingSlider{padding:0 15px 0 25px;height:156px !important;}
#block_editors_choice .anythingSlider .back{top:75px;left:0;}
#block_editors_choice .anythingSlider .forward{top:75px;left:680px;}
#block_editors_choice .thumbNav{height:auto;position:absolute;width:auto;display:none !important}
#block_editors_choice p{color:#282828;font-size:12px;line-height:16px;}

/*------------------------------Tabs---------------------*/



	
			.tab-contents {margin:10px 0 0}

.tab-contents li {height:52px;padding:7px 5px;border-bottom:1px solid #ccc}
.tab-contents li.last {border:none}
.tab-contents li  em {float:left;width:74px;height:52px;margin:0 10px 0 0;display:block;overflow:hidden}
.tab-contents li em img  {width:74px !important;margin:0 0 0 0}
.tab-contents li p {float:left;height:53px;width:153px;overflow:hidden;margin:0;padding:0;line-height:normal !important}
.tab-contents li p a {color:#444;font-size:12px}
.tab-contents li p a:hover {color:#000}
.tab-contents a.btnTab {width:76px;height:22px;line-height:22px;background:url(../images/btnTab.png) no-repeat;text-align:center;color:#fff;float:right;display:block;font-size:12px}
.tab-contents a.btnTab:hover {color:#000}




	.News {margin:10px 0 0}

.News li {height:66px;padding:7px 5px;border-bottom:1px solid #ccc}
.News li.last {border:none}
.News li  em {float:left;width:54px;height:62px;margin:0 10px 0 0;display:block;overflow:hidden}
.News li em img  {width:54px !important;margin:0 0 0 0}
.News li p {float:left;height:53px;width:123px;overflow:hidden;margin:0;padding:0;line-height:normal !important}
.News li p a {color:#444;font-size:12px}
.News li p a:hover {color:#000}
.News a.btnTab {width:76px;height:22px;line-height:22px;background:url(../images/btnTab.png) no-repeat;text-align:center;color:#fff;float:right;display:block;font-size:12px}
.News a.btnTab:hover {color:#000}




	.Videos {margin:10px 0 0}

.Videos li {height:70px;padding:9px 5px;}
.Videos li.last {border:none}
.Videos li  em {float:left;width:99px;height:70px;margin:0 10px 0 0;display:block;overflow:hidden}
.Videos li em img  {width:99px !important;margin:0 0 0 0}
.Videos li p {float:left;height:70px;width:123px;overflow:hidden;margin:0;padding:0;line-height:normal !important}
.Videos li p a {color:#444;font-size:12px}
.Videos li p a:hover {color:#000}
.Videos a.btnTab {width:76px;height:22px;line-height:22px;background:url(../images/btnTab.png) no-repeat;text-align:center;color:#fff;float:right;display:block;font-size:12px}
.Videos a.btnTab:hover {color:#000}


/*------------------------------Footer---------------------*/
.footer {background:#fff url(../images/footerShadow.png) repeat-x top center;padding:40px 10px 10px ;margin:0;position:relative;z-index:0}
.innerFooter {width:1024px;margin:auto}
.footer h4 {margin:0 0px;color:#000}
.links {padding:10px 20px;float:left;width:150px;border-right:1px solid #ccc}
.footer ul {}
.footer li {padding:3px 0;}
.footer li a {text-decoration:none;color:#a39991;font-size:13px;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}
.footer li a:hover {color:#000}


.copyRight {height:30px;width:100%;background:#F2F1F1}
.copyRight p {text-align:center;line-height:30px;color:#222;font-size:13px}

/*------------------------------innerBody---------------------*/
.innerBody {width:1047px;margin:-14px auto 0;background:url(../images/bodyShadow.png) repeat-y top center;padding:0 40px}
.innerBody .bb {width:1000px;margin:auto;padding-bottom:25px}
.innerBody h1 {margin:0 0 20px 0;padding:0;font-size:21px;height:50px;line-height:50px;border-bottom:1px solid #ccc}


.innerBody2 {width:1100px;margin:-14px auto 8px;background:url(../images/bodyShadow.png) repeat-y bottom center;padding:20px 40px 30px 40px;position:relative;z-index:1}
.innerBody2 .bb {width:1000px;margin:auto;padding-bottom:25px}
.innerBody2 h1.head {margin:0 0 20px 0;padding:0;font-size:21px;height:50px;line-height:50px;border-bottom:1px solid #ccc}

.fullWidth {width:1000px;margin:0 auto;}

.fullWidth h1 {margin:0 0 20px 0;padding:0;font-size:17px;height:50px;line-height:50px;border-bottom:1px solid #ccc;letter-spacing:0;font-weight:normal;color:#8d847d}

.BodyContent {background:url(../images/bg.png);margin-top:-17px}


.Category {width:850px;
 -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}
.Category li { -moz-column-break-inside: avoid; -webkit-column-break-inside: avoid; column-break-inside: avoid; display: inline-block; margin: 0 2px 15px; padding: 10px; -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); background: #FEFEFE; background-image: linear-gradient(45deg, #FFF, #F9F9F9); }
.Category li {width:245px;margin:10px 7px;padding:10px;}
.Category li:hover {}
.Category.photos li {margin-bottom:20px}
.Category li a img {width:245px;padding:0;display:block}

.Category li span {font-size:12px;font-weight:lighter;display:block;background:url(../images/bg.png);height:20px;overflow:hidden;width:245px;margin:0;color:#000;text-align:left;font-weight:lighter;font-size:14px;padding-top:5px}
.Category li a:hover span {display:block}

.Category li b {width:83px;height:83px;background:url(../images/zoom.png) no-repeat center;margin:0;display:block}





a.loveit2 {color:#777;display:inline-block !important;margin:0;font-size:12px;}
a.loveit2 img {width:24px !important;height:24px !important;display:inline-block !important;margin:0 0 -8px !important}
a.loveit2:hover {color:#000}


.details {font-size:13px}
.details span {display:block}
.details a {display:block;color:#F08229;margin:10px 0}
.details a:hover {color:#222}
.Share {height:30px;line-height:30px;border-bottom:1px solid #888;margin-bottom:15px}







.shadowForImage {-moz-column-break-inside: avoid; -webkit-column-break-inside: avoid; column-break-inside: avoid; display: inline-block; margin: 0 2px 15px; padding: 18px;
                  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3); background: #FEFEFE; background-image: linear-gradient(45deg, #FFF, #F9F9F9)}
.shadowForImage img {}

/*------------------------------innerRight---------------------*/
.innerRight {width:160px;float:right;margin:25px 0 25px 0}

.favoret {border:1px solid #ccc;margin:0 0 15px 0;background:#d4cfcb}
.favoret h1 {margin:0 0 10px 0 ;height:25px;line-height:15px;background:#fff;padding:0 0 0 10px}
.favoret b {font-size:20px;display:block;text-align:center;color:#2D709B;margin:0 0 10px 0;}
.favoret span a {text-align:center;color:#fff;display:block;background:#a39991;padding:3px 0}
.favoret span a:hover {background:#444}

.popular {margin:15px 0;}
.popular h1 {height:30px;line-height:30px;border-bottom:1px solid #000;font-size:16px;font-weight:normal;margin:0 0 10px 0;padding:0}
.popular ul {margin:0}
.popular li {margin:10px 0;display:block;background:#f2f2f2;padding:5px;border:1px solid #ccc}
.popular li img {width:148px;margin:0;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}
.popular li img:hover {opacity:0.7}
.popular li a {color:#000}
.popular li a:hover {color:#555}
.popular li a span {display:block;text-align:center}



/*------------------------------Login---------------------*/
#signbtn {margin:10px 0 0 0px;display:block}


 a.btnsignout,input.btnsignout {
	background:#F7B103;
	padding:3px 8px;
	color:#634D35;
	font-size:13px;
	cursor:pointer;
	border:none;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;margin:0 0 0 10px;
}
a.btnsignout:hover,input.btnsignout:hover {
	background:#e7a623;color:#634D35
}
a.btnsigninon {

}
#frmsignin  a.favProfile {background:url(../images/favorite.png) no-repeat top left;padding:0 0 0 24px;height:20px;line-height:20px}
#frmsignin  a.favProfile:hover {background:url(../images/favorite.png) no-repeat bottom left}


#frmsignin  a.Profile {background:url(../images/profile.png) no-repeat top left;padding:0 0 0 24px;height:20px;line-height:20px;margin-bottom:7px}
#frmsignin  a.Profile:hover {background:url(../images/profile.png) no-repeat bottom left}


#frmsignin  a {color:#000;display:block;padding:8px 0;font-size:12px}
#frmsignin a:hover {color:#a39991}
#frmsignin {
	display:none;
	background:url(../images/bg.png);
	position:absolute;
	
	width:150px;
	padding:12px;
	
	font-size:11px;
	-moz-border-radius:5px;
	
	-webkit-border-radius:5px;
	
	border-radius:5px;

	z-index:1000000;
}
#frmsignin input[type=text], #frmsignin input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #666;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}
#frmsignin p {
	margin:0;
}
#frmsignin label {
	font-weight:normal;
}
#submitbtn {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color:#333;
	display:block;
	color:#fff !important;
	padding:5px 8px;
	margin:0 5px 10px 0;
	font-weight:bold;
}
#submitbtn:hover, #submitbtn:focus {
	
	cursor:pointer;
}
.submit {
	padding-top:5px;
}
#msg {
	color:#F00;
}
#msg img {
	margin-bottom:-3px;
}
#msg p {
	margin:5px 0;
}
#msg p:last-child {
	margin-bottom:0px;
}

/*------------------------------Show Category---------------------*/

/*
.Category2 p {margin:0;padding:0}
.Category2 p a {width:20px;height:18px;line-height:18px;background:url(../images/favorite.png) no-repeat right top;position:relative;z-index:99;margin:10px 5px -50px 0;float:right}
.Category2 p a:hover {background:url(../images/favorite.png) no-repeat right bottom;width:100px}

.Category2 p a strong {display:inline-block;visibility:hidden;height:18px;line-height:18px;width:160px;opacity:0.6;background:#fff;text-align:center;color:#000;float:right;margin:0 25px 0 0}
.Category2 p a:hover strong {visibility:visible}
*/



.Profile {width:300px}





/*------------------------------Login---------------------*/

a.signin,input.signin {width:101px;height:32px;background:url(../images/signIn.png) no-repeat top center;display:block;float:right;padding:0 0 0 10px;color:#fff;cursor:pointer;text-align:left;border:none;margin-bottom:25px}
a.signin:hover,input.signin:hover {background:url(../images/signIn.png) no-repeat bottom center}
.loginDiv p input {width:219px;height:30px;background:url(../images/txtbox.png) no-repeat center;margin:0;padding:0;border:none;position:relative}
.loginDiv label {display:inline-block;width:150px}
.loginDiv label b {font-weight:normal;color:#cfcfcf}

.loginDivT {width:732px;background:url(../images/loginDivT.png) no-repeat bottom center;height:10px;margin:20px auto 0}
.loginDiv {width:732px;background:url(../images/loginDiv.png) repeat-y top center;margin:0 auto}
.loginDiv h1 {margin:0;padding:0;font-size:15px;height:30px;line-height:30px;border-bottom:1px solid #ccc;font-weight:normal}
.loginDiv span {color:Red}
.loginDivB {width:732px;background:url(../images/loginDivB.png) no-repeat top center;height:15px;margin:0 auto 10px}


a.anka,input.anka {width:125px;height:32px;line-height:32px;background:url(../images/anka.png) no-repeat top center;display:block;cursor:pointer;border:none;text-align:center;color:#555;margin:10px 0}

a.anka:hover,input.anka:hover {background:url(../images/anka.png) no-repeat bottom center}



.log {width:480px;float:left;padding:0 10px}
.regInfo {width:210px;float:right;padding:0 10px}

ol {margin:0;padding:0;list-style-position:inside;color:#000}
.regInfo ol li {padding:4px 0}
input {outline:none;text-indent:8px}
select {-webkit-appearance: button;-webkit-border-radius: 2px;-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;-webkit-padding-start: 2px;-webkit-user-select: none;background-image: url(../images/dropArrow.png), 
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);background-position: center right;background-repeat: no-repeat;
  border: 1px solid #AAA;color: #555;font-size: inherit;margin: 0;overflow: hidden;text-overflow: ellipsis
  ;white-space: nowrap;width:219px;height:25px}
  .Order p input {width:219px;height:30px;background:url(../images/txtbox.png) no-repeat center;margin:0;padding:0;border:none;position:relative}
.Order label {display:inline-block;width:150px}
.Order label b {font-weight:normal;color:#cfcfcf}
  
  /*------------------------------Fonts---------------------*/

  
  @font-face{font-family:'OsloLightRegular';src:url('http://www.xoedge.com/fonts/Oslo/oslo_light/Oslo-Light-webfont.eot');
 src:url('http://www.xoedge.com/fonts/Oslo/oslo_light/Oslo-Light-webfont.eot?#iefix') format('embedded-opentype'), 
 url('http://www.xoedge.com/fonts/Oslo/oslo_light/Oslo-Light-webfont.woff') format('woff'),
  url('http://www.xoedge.com/fonts/Oslo/oslo_light/Oslo-Light-webfont.ttf') format('truetype'), 
  url('http://www.xoedge.com/fonts/Oslo/oslo_light/Oslo-Light-webfont.svg#OsloLightRegular') format('svg');
  font-weight:normal;font-style:normal}
  @font-face{font-family:'OsloBold';src:url('http://www.xoedge.com/fonts/Oslo/oslo_bold/Oslo-Bold-webfont.eot');
             src:url('http://www.xoedge.com/fonts/Oslo/oslo_bold/Oslo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
              url('http://www.xoedge.com/fonts/Oslo/oslo_bold/Oslo-Bold-webfont.woff') format('woff'),
               url('http://www.xoedge.com/fonts/Oslo/oslo_bold/Oslo-Bold-webfont.ttf') format('truetype'), 
               url('http://www.xoedge.com/fonts/Oslo/oslo_bold/Oslo-Bold-webfont.svg#OsloBold') format('svg')
               ;font-weight:normal;font-style:normal}
 @font-face{    font-family:'OsloBlackRegular'; 
src:url('http://www.xoedge.com/fonts/Oslo/oslo_black/Oslo-Black-webfont.eot');
    src:url('http://www.xoedge.com/fonts/Oslo/oslo_black/Oslo-Black-webfont.eot?#iefix') format('embedded-opentype'), 
            url('http://www.xoedge.com/fonts/Oslo/oslo_black/Oslo-Black-webfont.woff') format('woff'),
                     url('http://www.xoedge.com/fonts/Oslo/oslo_black/Oslo-Black-webfont.ttf') format('truetype'), 
url('http://www.xoedge.com/fonts/Oslo/oslo_black/Oslo-Black-webfont.svg#OsloBlackRegular') format('svg');
 font-weight:normal; font-style:normal}
 @font-face{    font-family:'ActaLight';
     src:url('http://www.xoedge.com/fonts/Acta/acta_light/acta-light-webfont.eot'); 
        src:url('http://www.xoedge.com/fonts/Acta/acta_light/acta-light-webfont.eot?#iefix') format('embedded-opentype'), 
                url('http://www.xoedge.com/fonts/Acta/acta_light/acta-light-webfont.woff') format('woff'), 
                        url('http://www.xoedge.com/fonts/Acta/acta_light/acta-light-webfont.ttf') format('truetype'),  
url('http://www.xoedge.com/fonts/Acta/acta_light/acta-light-webfont.svg#ActaLight') format('svg');
 font-weight:normal; font-style:normal}
 @font-face{    font-family:'ActaMedium';    src:url('http://www.xoedge.com/fonts/Acta/acta_medium/acta-medium-webfont.eot');
src:url('http://www.xoedge.com/fonts/Acta/acta_medium/acta-medium-webfont.eot?#iefix') format('embedded-opentype'), 
        url('http://www.xoedge.com/fonts/Acta/acta_medium/acta-medium-webfont.woff') format('woff'),
                 url('http://www.xoedge.com/fonts/Acta/acta_medium/acta-medium-webfont.ttf') format('truetype'),  
 url('http://www.xoedge.com/fonts/Acta/acta_medium/acta-medium-webfont.svg#ActaMedium') format('svg');
  font-weight:normal; font-style:normal}
  
  
  
  
  
  @font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v6/gk5FxslNkTTHtojXrkp-xF1YPouZEKgzpqZW9wN-3Ek.woff) format('woff');
}
 /*------------------------------Pop Up---------------------*/
 
 #kotak-pesan{position:fixed !important;position:absolute; /* IE6 */top:-900px;left:50%;z-index:9999999;margin:0px 0px 0px -182px;width:auto;height:auto;
padding:10px;background:url(../images/GrayDott.png);border:2px solid #fff;font:normal 1em Cambria,Georgia,Serif;color:#111;
-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
box-shadow:0px 1px 3px rgba(0,0,0,0.4);
}
#kotak-pesan a.close{position:absolute;top:-10px;right:-10px;background:#333;text-decoration:none;line-height:22px;width:22px;text-align:center;color:#fff;
border:2px solid #fff;
-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.4);
-moz-box-shadow:0px 1px 2px rgba(0,0,0,0.4);
box-shadow:0px 1px 2px rgba(0,0,0,0.4);
-webkit-border-radius:22px;
-moz-border-radius:22px;
border-radius:22px;
cursor:pointer;
}
  /*------------------------------ShowImage---------------------*/
.ShowImage {margin:20px auto}
 .ShowImage  img {width:650px !important;margin:auto;display:block} 
  .ShowImage li {padding:5px 0}
 

.fav {display:block;background:url(../images/fav.png) no-repeat left top;padding:0 0 0 30px;
      color:#000;font-size:13px;height:26px;line-height:26px;margin-bottom:10px;text-align:left;margin-left:20px !important;width:73px !important;}  
      
.fav:hover {color:#0B5383;background:url(../images/fav.png) no-repeat left bottom}  
 .fav img {margin:0 4px -7px}
  
  
  .fav2 {display:block;background:url(../images/mail.png) no-repeat left top;padding:0 0 0 35px;
      color:#000;font-size:13px;height:26px;line-height:26px;margin-bottom:10px;text-align:left;margin-left:20px !important}  
      
      
 .MailToFriend label {display:inline-block;width:100px;}
  .MailToFriend p input {width:219px;height:30px;background:url(../images/txtbox.png) no-repeat center;margin:0;padding:0;border:none;position:relative}
  .MailToFriend p textarea {width:219px;height:70px;margin:0;padding:0;border:none;position:relative;vertical-align:top;border:1px solid #ccc}  
  

  
  
  a.magazine {position:absolute;top:-293px;height:335px;background:url(../images/yourWeddingGuideCatalog.png) no-repeat
             ;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;font-size:22px;width:249px;z-index:999}
  
    a.magazine:hover {top:0}
  
  .sharebuttons {float:right;margin:-50px 0 0 10px;width:390px;float:right}
    .sharebuttons div {margin-bottom:3px;float:right;margin:0 3px 0}
  
  
  
  p {line-height:20px}
  a:hover {color:#a39991}

  
  
  
  
  
  

.data {float:left;width:646px;margin:0 30px 20px 0}
.topData {width:646px;background:url(../images/topData.png) no-repeat center top;height:12px}
.middleData {width:646px;background:url(../images/middleData.png) repeat-y center top}
.middleData p {margin:0 !important;background:none !important;padding:5px 20px !important}


.bottomData {width:646px;background:url(../images/bottomData.png) no-repeat center top;height:12px}


.mp3 {height:190px;overflow:hidden;border-bottom:1px solid #CCCCCC;margin:15px 0 0 0}






.subCategories {margin:-25px 0 20px 25px}

.subCategories li {display:inline-block;float:left;margin:0 0px;width:330px}
.subCategories li div {width:330px;height:332px;background:url(../images/articleBody.jpg) no-repeat center}
.subCategories li div em {width:259px;height:230px;display:block;overflow:hidden;margin:13px 0 0 35px;padding-top:21px}
.subCategories li div em img {width:259px;-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;-ms-transition:all 1s;-khtml-transition:all 1s;transition:all 1s;}
.subCategories li div a:hover em img {opacity:0.7}
.subCategories li a span {width:275px;display:block;height:50px;line-height:50px;overflow:hidden;color:#555;margin:auto;text-align:center}







.sliderShadow {height:8px;width:100%;background:url(../images/sliderShadow.png) repeat-x top center}



