<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  
	<connectionStrings>
    
		<add name="ApplicationServices1" connectionString="server=198.38.94.109;database=adcom82_wedding;user id=adcom82_goofy;PWD=920956" providerName="System.Data.SqlClient"/>
	
  <add name="ApplicationServices" connectionString="Data Source=ALAA\SQLEXPRESS;Initial Catalog=adcom82_wedding;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key ="FolderPath" value ="uploads/Category"/>
    <add key ="FolderPath2" value ="uploadsCat/Category"/>
    <add key ="FolderPath3" value ="uploadsCat/Categorys"/>
    <add key="extendedPermissions" value="user_about_me,publish_stream"/>

  </appSettings >
	<system.web>
    <customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0"/>
    <pages enableEventValidation="false">

     
      
    </pages>
    
    <httpRuntime requestValidationMode="2.0"/>
    <authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="true" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Clear" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="true">
			<providers>
				<clear/>
				<add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
			</providers>
		</roleManager>

	</system.web>
	<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
