@charset "IBM437";
/*fix*/
@font-face { font-family: 'Anna Clara'; src: url("../fonts/trial_by_cupcakes_-_anna_clara-webfont.eot"); src: url("../fonts/trial_by_cupcakes_-_anna_clara-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/trial_by_cupcakes_-_anna_clara-webfont.woff") format("woff"), url("../fonts/trial_by_cupcakes_-_anna_clara-webfont.ttf") format("truetype"), url("../fonts/trial_by_cupcakes_-_anna_clara-webfont.svg#EBGaramondSC") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'EB Garamond'; src: url("../fonts/EBGaramondSC-webfont.eot"); src: url("../fonts/EBGaramondSC-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/EBGaramondSC-webfont.svg#EBGaramondSC") format("svg"), url("../fonts/EBGaramondSC-webfont.woff") format("woff"), url("../fonts/EBGaramondSC-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

/* line 4, _shell.scss */
.cf:before, .cf:after { content: " "; /* 1 */ display: table; /* 2 */ }

/* line 9, _shell.scss */
.cf:after { clear: both; }

/* line 12, _shell.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

/* line 15, _shell.scss */
audio[controls], canvas, video { display: inline-block; *display: inline; zoom: 1; }

/* line 20, _shell.scss */
html { -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* line 26, _shell.scss */
strong { font-weight: bold; }

/* line 29, _shell.scss */
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }

/* line 34, _shell.scss */
em { font-style: italic; }

/* line 37, _shell.scss */
img { -ms-interpolation-mode: bicubic; border: 0px; }

/* line 41, _shell.scss */
figure, form, body, div, p, h1, h2, h3, h4, h5, h6, figure, video, article, aside { margin: 0; padding: 0px; }

/* line 45, _shell.scss */
fieldset { border: 0; margin: 0; padding: 0; }

/* line 50, _shell.scss */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/* line 56, _shell.scss */
button, input { line-height: normal; *overflow: visible; }

/* line 60, _shell.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-border-radius: 0px; -webkit-appearance: none; border: 0; cursor: pointer; margin: 0; padding: 0; }

/* line 70, _shell.scss */
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* line 75, _shell.scss */
input[type="text"], input[type="submit"] { -webkit-border-radius: 0; outline: none; }

/* line 79, _shell.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 83, _shell.scss */
textarea { overflow: auto; vertical-align: top; }

/* line 87, _shell.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* For image replacement */
/* line 92, _shell.scss */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* line 100, _shell.scss */
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

@media print { /* line 104, _shell.scss */
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 111, _shell.scss */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  /* line 115, _shell.scss */
  a[href]:after { content: " (" attr(href) ")"; }
  /* line 118, _shell.scss */
  abbr[title]:after { content: " (" attr(title) ")"; }
  /* line 121, _shell.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  /* line 124, _shell.scss */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  /* line 128, _shell.scss */
  thead { display: table-header-group; }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 131, _shell.scss */
  tr, img { page-break-inside: avoid; }
  /* line 134, _shell.scss */
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  /* line 140, _shell.scss */
  p, h2, h3 { orphans: 3; widows: 3; }
  /* line 144, _shell.scss */
  h2, h3 { page-break-after: avoid; } }

/* line 172, _shell.scss */
html { overflow-x: hidden; }

/* line 175, _shell.scss */
a { color: white; text-decoration: none; }

/* line 179, _shell.scss */
a:hover, a:active { outline: 0; outline: none; }

/* line 183, _shell.scss */
a:hover, a:focus { text-decoration: underline; }

/* line 186, _shell.scss */
.cufon-loading { visibility: hidden !important; }

/* line 189, _shell.scss */
input[type="text"], textarea { border: 1px solid white; }

/* line 192, _shell.scss */
aside li:first-child span, #search-wrp input, aside .tweet, aside .fb, .music { display: none; -webkit-border-radius: 0px; -webkit-appearance: none; }

/* line 197, _shell.scss */
.sprite { background-image: url(../images/sprite.png); background-repeat: no-repeat; background-color: transparent; }

/* line 202, _shell.scss */
header { position: absolute; z-index: 100; height: 79px; width: 100%; left: 0; top: 0; border-bottom: 2px solid #3a3a16; }

/* line 211, _shell.scss */
header, footer { background: #3b3632 url(../images/nav-bg.jpg) bottom left repeat-x; }

/* line 214, _shell.scss */
.overfix { overflow: visible; }

/* line 217, _shell.scss */
.jp-jplayer { height: 0; overflow: hidden; }

/* line 221, _shell.scss */
#cart-nav, body > aside { position: absolute; top: 2px; right: 0px; z-index: 2000; }

/* line 227, _shell.scss */
#cart-nav li:first-child, body > aside li:first-child { background-position: -270px -40px; width: 35px; padding: 0; height: 29px; vertical-align: top; font-size: 1.2em; line-height: 29px; text-align: center; }

/* line 237, _shell.scss */
#cart-nav li:first-child strong, body > aside li:first-child strong { font-weight: normal; }

/* line 240, _shell.scss */
#cart-nav li:first-child a, body > aside li:first-child a { left: -1.5px; position: relative; top: -6px; }

/* line 245, _shell.scss */
#search-wrp { background-position: -270px 0; width: 34px; height: 31px; position: absolute; right: 0px; top: 30px; padding: 0px; text-align: left; }

/* line 255, _shell.scss */
#search-wrp.show-search { width: 125px; height: 24px; background-image: none; border: 1px solid rgba(255, 255, 255, 0.26); background-color: #3b3632; top: 32px; right: 2px; -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75); -moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75); box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.75); }

/* line 267, _shell.scss */
.no-rgba #search-wrp.show-search { border: 1px solid white; }

/* line 270, _shell.scss */
#search-wrp input[type="text"] { width: 75px; text-indent: 0; border: 0; font-size: 1em; background: none; text-indent: 8px; color: #eaddd4; font-style: italic; }

/* line 280, _shell.scss */
.show-search input[type="text"] { margin-top: 4px; }

/* line 283, _shell.scss */
#search-wrp input[type="button"] { position: relative; top: 4px; margin-left: 0px; border: 0px; width: 40px; height: 18px; padding: 0px; vertical-align: top; background-color: transparent; }

/* line 294, _shell.scss */
#search-wrp.show-search input[type="button"] { background-position: -254px -7px; }

/* line 297, _shell.scss */
#search-wrp input { display: none; }

/* line 300, _shell.scss */
#search-wrp.show-search input { display: inline; }

/* line 303, _shell.scss */
header #logo { text-align: center; left: 0; top: 12px; width: 100%; position: absolute; }

/* line 310, _shell.scss */
#logo a { display: block; background-position: -30px -635px; width: 113px; height: 30px; margin: 0 auto; text-indent: -9000px; }

/* line 316, _shell.scss */
footer li a { color: #dedfd9; text-decoration: none; }

/* line 321, _shell.scss */
section { padding: 0 0 0 0; position: relative; z-index: 1; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09); overflow-x: hidden; }

/* line 329, _shell.scss */
footer { overflow: hidden; width: 100%; height: 105px; z-index: 50; position: relative; left: 0; bottom: 0; border-top: 2px solid #3a3a16; }

/* line 339, _shell.scss */
footer nav { height: 100%; width: 100%; position: relative; }

/* line 344, _shell.scss */
footer ul { text-align: left; position: relative; top: 5px; padding-left: 6px; height: 100%; max-width: 954px; margin: 0 auto; }

/* line 353, _shell.scss */
footer li { display: inline-block; zoom: 1; *display: inline; font-size: 1.2em; padding: 0 2%; white-space: nowrap; letter-spacing: 0.04em; line-height: 1.8em; text-transform: uppercase; }

/* line 364, _shell.scss */
.copyright { position: absolute; bottom: 16px; left: 6px; font-size: 0.909em; }

/* line 370, _shell.scss */
footer .fb, footer .tweet, footer .pinter { position: absolute; bottom: 16px; right: 76px; }

/* line 375, _shell.scss */
footer .tweet { right: 39px; }

/* line 378, _shell.scss */
footer .pinter { right: 10px; }

/* line 381, _shell.scss */
.pinter a { display: block; background-position: -11px -57px; width: 16px; height: 16px; }

/* line 386, _shell.scss */
.fb a { display: block; background-position: -10px -7px; width: 17px; height: 17px; }

/* line 392, _shell.scss */
.tweet a { display: block; background-position: -6px -32px; width: 24px; height: 17px; }

/* select box */
/* selectbox styling */
/* line 401, _shell.scss */
.selectbox { display: inline-block; *display: inline; font-size: 1.2em; text-transform: uppercase; position: relative; zoom: 1; width: 53px !important; }

/* line 411, _shell.scss */
.selectbox .display { background-color: rgba(243, 241, 222, 0.73); zoom: 1; border: 1px solid white; color: #3b3632; font-family: inherit; cursor: default; display: block; height: 25px; line-height: 25px; padding: 0 0 0 4px; position: relative; text-decoration: none; text-align: left; overflow: hidden; text-shadow: none; }

/* line 429, _shell.scss */
.no-rgba .selectbox .display { background-color: #F8F5E3; }

/* line 433, _shell.scss */
.selectbox .display .arrow_btn { display: block; height: 20px; padding: 0px; position: absolute; right: 0; top: 0; width: 23px; background: url(../images/sprite.png) no-repeat -269px -222px; }

/* line 444, _shell.scss */
.selectbox .value, .items .value { display: none !important; }

/* line 447, _shell.scss */
.items { background: #fff; border: 1px solid #000; display: block; font-family: arial; font-size: 14px; line-height: 28px; list-style-type: none; margin: 0; overflow-x: visible; overflow-y: auto; padding: 5px; z-index: 99999; color: #3b3632; width: 167px !important; -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); }

/* line 465, _shell.scss */
.items a { color: #3b3632; display: block; width: 100%; }

/* line 470, _shell.scss */
.fullBg { background-position: center center; -moz-background-size: cover; background-size: cover; position: fixed; width: 100%; overflow: hidden; top: 0; bottom: 0; left: 0; }

/* line 481, _shell.scss */
.fullBg img { position: absolute; top: 0; left: 0; overflow: hidden; }

@media screen and (min-width: 0px) and (max-width: 549px) { /* line 488, _shell.scss */
  section { padding: 0 0 0 0; }
  /* line 491, _shell.scss */
  header { height: 47px; }
  /* line 494, _shell.scss */
  #search-wrp { top: 10px; right: 43px; display: inline-block; font-size: 1.5em; letter-spacing: 0.01em; line-height: 1.3em; text-shadow: 0 0 8px rgba(0, 0, 0, 0.9); text-transform: uppercase; }
  /* line 504, _shell.scss */
  #search-wrp.show-search { top: 12px; right: 46px; }
  /* line 508, _shell.scss */
  #cart-nav, body > aside { right: 3px; top: 9px; }
  /* line 512, _shell.scss */
  .toparrow { overflow: hidden; height: 0; line-height: 0; text-indent: -9000px; display: block; text-decoration: none; }
  /* line 520, _shell.scss */
  #nav li.main a { overflow: hidden; height: 0; line-height: 0; text-indent: -9000px; display: block; text-decoration: none; font-size: 1.8em; -webkit-perspective: 1000; -webkit-backface-visibility: hidden; }
  /* line 531, _shell.scss */
  #nav:target .toparrow, #nav nav:target .toparrow { background-position: -278px -301px; width: 16px; height: 8px; position: absolute; top: 41px; left: 21px; }
  /* line 539, _shell.scss */
  #nav li.main a { font-family: georgia, serif; 	 /* -webkit-transition: height 0.25s ease 0s, line-height 0.25s ease 0s;   -moz-transition: height 0.25s ease 0s, line-height 0.25s ease 0s;   -o-transition: height 0.25s ease 0s, line-height 0.25s ease 0s;   transition: height 0.25s ease 0s, line-height 0.25s ease 0s;  
		  */ }
  /* line 549, _shell.scss */
  #nav:target li.main:first-child > a { border: 0; }
  /* line 552, _shell.scss */
  #nav ul { background-color: rgba(234, 221, 212, 0.9); margin-top: 49px; }
  /* line 556, _shell.scss */
  #nav .cf { padding: 0 0 10px 17.5%; }
  /* line 559, _shell.scss */
  .no-rgba #nav ul { background-color: #eaddd4; }
  /* line 562, _shell.scss */
  #nav:target li.main > a, #nav li.main nav:target a { border-top: 1px solid #b8ac9e; font-size: 1.8em; line-height: 2.66; height: 2.66em; width: 100%; text-transform: uppercase; text-align: center; text-indent: 0; }
  /* line 573, _shell.scss */
  #nav li.main nav:target a { float: left; width: 50%; border: 0px; font-size: 1.6em; text-align: left; }
  /* line 580, _shell.scss */
  #nav li.main nav:target .subhead a { float: none; width: 100%; border-bottom: 1px solid #b8ac9e; font-size: 1.8em; text-align: center; }
  /* line 587, _shell.scss */
  #nav:target li.main a, .back, #nav nav:target a { color: #3b3632; }
  /* line 591, _shell.scss */
  #nav:target a.back, #nav nav:target a.back { position: absolute; padding-right: 3.7%; right: 0; left: 0; top: 0; font-size: 1.8em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 2.66; background: none; width: 96.3%; text-align: right !important; }
  /* line 606, _shell.scss */
  #nav nav:target a.back { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
  /* line 611, _shell.scss */
  #nav nav:target a.back { text-align: left !important; right: 0; left: 3.7%; }
  /* line 616, _shell.scss */
  .main nav { position: relative; left: -100%; 		/*
		 -webkit-transition: left 0.25s ease 0s;   -moz-transition: left 0.25s ease 0s;   -o-transition: left 0.25s ease 0s;   transition: left 0.25s ease 0s;  
		  */ }
  /* line 626, _shell.scss */
  .main nav:target { left: 0; }
  /* line 629, _shell.scss */
  #jump { cursor: pointer; display: block; float: none; width: 21px; height: 14px; text-indent: -999em; position: absolute; left: 18px; top: 18px; }
  /* line 641, _shell.scss */
  #jump { /* make sure the menu button is on top */ z-index: 1001; background-position: -233px -316px; }
  /* line 646, _shell.scss */
  #nav nav:target li.subhead { margin: 0 0 10px -21.5%; }
  /* line 649, _shell.scss */
  #nav, #nav nav { /* the nav sits behind the menu button */ z-index: 1000; position: absolute; width: 100%; top: 0; }
  /* line 656, _shell.scss */
  #nav:target, #nav nav:target { /* unless itâ€™s showing */ z-index: 1001; }
  /* line 660, _shell.scss */
  #nav:target li.main, #nav nav:target li.subhead { position: relative; }
  /* line 663, _shell.scss */
  #nav:target a, #nav nav:target a { /* make nav links sit up a level */ position: relative; z-index: 1; }
  /* line 668, _shell.scss */
  #nav .top { /* establish a positioning context for the closer */ position: relative; }
  /* line 672, _shell.scss */
  #nav:target .top a, #nav nav:target .top a { /* turn the link into a ghost */ height: auto; top: -101em; bottom: -101em; left: 0; right: 0; }
  /* line 680, _shell.scss */
  #nav li { z-index: 1; }
  /* line 683, _shell.scss */
  #nav li.top { z-index: 0; }
  /* line 686, _shell.scss */
  #nav .top a { /* turn the link into a ghost */ background: transparent; border: 0; float: none; text-indent: -999em; /* make it fill the screen */ position: absolute; height: 0; display: block; line-height: 0; z-index: 0; }
  /* line 699, _shell.scss */
  #nav nav .top a { left: -20%; } }
@media screen and (min-width: 550px) { /* line 705, _shell.scss */
  .subhead, .back, .toparrow, #jump, .top { display: none; }
  /* line 708, _shell.scss */
  header > nav > ul { text-align: center; margin-top: 57px; padding-left: 0; }
  /* line 713, _shell.scss */
  header > nav > ul > li { display: inline-block; zoom: 1; *display: inline; text-transform: uppercase; font-size: 1.5em; line-height: 1.3em; padding: 0 1.5%; letter-spacing: 0.02em; position: relative; text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.09); letter-spacing: 0.01em; }
  /* line 727, _shell.scss */
  header #logo { text-align: center; left: 0; top: 12px; width: 100%; position: absolute; }
  /* line 734, _shell.scss */
  #logo a { display: block; background-position: -30px -635px; width: 132px; height: 35px; margin: 0 auto; text-indent: -9000px; }
  /* line 740, _shell.scss */
  header > nav > ul > li > a { color: #dedfd9; text-decoration: none; }
  /* line 745, _shell.scss */
  header nav li > nav { display: none; position: absolute; z-index: 9999; padding-top: 30px; top: 0px; left: -3px; background-position: -254px -288px; }
  /* line 754, _shell.scss */
  header nav li:hover > nav, li:hover .toparrow { display: block; }
  /* line 757, _shell.scss */
  .toparrow { background-position: -278px -301px; width: 16px; height: 8px; position: absolute; top: 22px; left: 27px; }
  /* line 765, _shell.scss */
  header nav nav > ul { background-color: rgba(234, 221, 212, 0.9); -webkit-backface-visibility: hidden; -webkit-perspective: 1000; padding: 8px 0 4px 0; }
  /* line 771, _shell.scss */
  .no-rgba header nav nav > ul { background-color: #eaddd4; }
  /* line 774, _shell.scss */
  header li li a { color: #3b3632; }
  /* line 777, _shell.scss */
  header li a:hover { text-decoration: none; }
  /* line 780, _shell.scss */
  header ul ul > li { font-size: 0.933em; font-style: italic; line-height: 2.15em; letter-spacing: normal; text-shadow: none; text-transform: lowercase; text-align: left; width: 140px; text-transform: uppercase; white-space: nowrap; }
  /* line 792, _shell.scss */
  header ul ul > li > a { padding: 0 0 0 12px; margin: 0 8px; display: block; }
  /* line 797, _shell.scss */
  header ul ul > li > a:hover, header .selected { background-color: rgba(255, 255, 255, 0.95); font-weight: bold; }
  /* line 801, _shell.scss */
  .no-rgba header ul ul > li > a:hover, .no-rgba header .selected { background-color: #fff; }
  /* line 807, _shell.scss */
  footer { bottom: 0; left: 0; }
  /* line 811, _shell.scss */
  header, footer, #cart-nav { position: fixed; }
  /* line 815, _shell.scss */
  section { padding: 0 0 0 0; }
  /* line 818, _shell.scss */
  .copyright { font-size: 1.1em; }
  /* line 821, _shell.scss */
  #logo a { background-position: -31px -524px; width: 142px; height: 38px; }
  /* line 826, _shell.scss */
  .fullBg { bottom: 105px; top: 79px; } }
@media screen and (min-width: 816px) { /* line 833, _shell.scss */
  #cart-nav { top: 11px; }
  /* line 836, _shell.scss */
  #search-wrp input { display: inline; }
  /* line 839, _shell.scss */
  #cart-nav li:first-child span, #search input { display: inline-block; zoom: 1; *display: inline; }
  /* line 844, _shell.scss */
  #cart-nav li:first-child { background: none; width: auto; padding: 0 4px 0 0; height: auto; font-size: 1.1em; line-height: 1.2em; margin-right: 8px; letter-spacing: 0.04em; }
  /* line 855, _shell.scss */
  header h2 { max-width: 100%; margin: auto; }
  /* line 859, _shell.scss */
  form aside li:first-child a { color: #eaddd4; top: 4px; }
  /* line 863, _shell.scss */
  header { height: 66px; }
  /* line 866, _shell.scss */
  section { padding: 0 0 0 0; }
  /* line 869, _shell.scss */
  .fullBg { top: 66px; bottom: 78px; }
  /* line 873, _shell.scss */
  header #logo { position: static; width: auto; }
  /* line 877, _shell.scss */
  #logo h2 { display: inline-block; zoom: 1; *display: inline; vertical-align: middle; }
  /* line 884, _shell.scss */
  header > nav { max-width: 960px; margin: 0 auto; position: relative; padding-left: 0px; }
  /* line 890, _shell.scss */
  header > nav > ul { margin-top: 13px; }
  /* line 893, _shell.scss */
  header > nav > ul > li { padding: 0 1.5%; }
  /* line 896, _shell.scss */
  #logo { padding: 0 1.7%; }
  /* line 899, _shell.scss */
  header nav li > nav { padding-top: 51px; top: 0px; left: 0px; background-position: -244px -267px; }
  /* line 905, _shell.scss */
  #search-wrp { background-image: none; border: 1px solid rgba(255, 255, 255, 0.26); background-color: rgba(127, 121, 121, 0.26); zoom: 1; position: relative; top: 0; left: 0; width: 125px; height: 17px; display: inline-block; zoom: 1; *display: inline; margin: 0 0 0 1.5%; padding: 0; }
  /* line 921, _shell.scss */
  .no-rgba #search-wrp { background-color: #514f35; border-color: white; }
  /* line 925, _shell.scss */
  #search-wrp input[type="text"] { width: 92px; text-transform: uppercase; font-size: 0.714em; letter-spacing: 0.08em; position: relative; top: -2px; padding: 0; height: 19px; }
  /* line 935, _shell.scss */
  #search-wrp input[type="button"] { background-position: -282px -171px; border-left: 1px solid rgba(255, 255, 255, 0.26); vertical-align: top; height: 19px; width: 20px; top: -1px; right: 0; position: absolute; }
  /* line 945, _shell.scss */
  #search-wrp input { display: inline; }
  /* line 948, _shell.scss */
  .no-rgba #search-wrp input[type="button"] { border-color: white; }
  /* line 951, _shell.scss */
  .toparrow { top: 43px; } }
@media screen and (min-width: 981px) { /* line 957, _shell.scss */
  footer { height: 60px; }
  /* line 961, _shell.scss */
  section { padding: 0 0 0 0; }
  /* line 964, _shell.scss */
  .fullBg { top: 66px; bottom: 60px; }
  /* line 968, _shell.scss */
  header > nav > ul > li { padding: 0 2.8%; }
  /* line 972, _shell.scss */
  header > nav > ul > li:first-child { padding-left: 0; }
  /* line 975, _shell.scss */
  #logo { padding: 0 2.8%; }
  /* line 978, _shell.scss */
  #search-wrp { margin: 0 0 0 2.5%; }
  /* line 981, _shell.scss */
  footer li { padding: 0 1.85%; } }
@media screen and (min-width: 1200px) { /* line 986, _shell.scss */
  .copyright { position: static; padding-right: 2.4%; }
  /* line 990, _shell.scss */
  footer { height: 45px; }
  /* line 993, _shell.scss */
  section { padding:0 0 0 0; }
  /* line 996, _shell.scss */
  .fullBg { top: 66px; bottom: 45px; }
  /* line 1000, _shell.scss */
  footer ul { margin-top: 10px; position: static; }
  /* line 1004, _shell.scss */
  footer li { padding: 0 0.65%; }
  /* line 1007, _shell.scss */
  footer .fb, footer .tweet, footer .pinter { bottom: 27px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) { /* line 1012, _shell.scss */
  .sprite, .selectbox .display .arrow_btn { background-image: url(../images/sprite-2x.png); background-size: 300px 1070px; } }
/* line 1018, _shell.scss */
* + html header nav li > nav { padding-top: 31px !important; }

/* line 1021, _shell.scss */
* + html .toparrow { display: none !important; }

/* line 2, home.scss */
section { text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.09); }

/* line 5, home.scss */
section p { text-shadow: none; }

/* line 8, home.scss */
hgroup p, #three h4 { font-family: 'EB Garamond', georgia, serif; }

/* line 11, home.scss */
h1, h3, #three h4 span { font-family: 'Anna Clara', georgia, serif; }

/* line 14, home.scss */
section { padding-bottom: 0; overflow: hidden; }

/* line 18, home.scss */
#one { display: none; }

/* line 22, home.scss */
#mens-collect { background-image: url(../images/mens-up.jpg); }

/* line 25, home.scss */
#mens-collect > a { background-image: url(../images/mens-over.jpg); }

/* line 28, home.scss */
#one { background-image: url(../images/raisa-up.jpg); }

/* line 31, home.scss */
#one > a { background-image: url(../images/raisa-over.jpg); }

/* line 34, home.scss */
#two { background-image: url(../images/crown-up.jpg); }

/* line 37, home.scss 
#two > a { background-image: url(../images/crown-over.jpg); }*/

/* line 40, home.scss */
#three { background-image: url(../images/season-bg.jpg); }

/* line 43, home.scss */
#four { background-image: url(../images/email-bg.jpg); }

/* line 46, home.scss */
#gtl { background-image: url(../images/gtl-up.jpg); }

/* line 49, home.scss */
#gtl > a { background-image: url(../images/gtl-over.jpg); }

/* line 52, home.scss */
#bts { background-image: url(../images/video-up.jpg); }

/*#bts a:hover {
	background-image: url(../images/bts-over.jpg);	
}*/
/* line 59, home.scss */
section li { position: relative; margin: 0px; padding: 0px; overflow: hidden; outline: 2px solid #3a3a16; height: 100%; overflow: hidden; }

/* line 68, home.scss */
section li a, section li { color: #eaddd4; }

/* line 71, home.scss */
section li#two a, section li#two { color: black; }

/* line 74, home.scss */
section a, section a:hover, section:focus { text-decoration: none; }

/* line 77, home.scss 
section li > a { display: block; width: 100%; height: 100%; position: absolute; opacity: 0; filter: alpha(opacity=0); }*/

/* line 85, home.scss */
section li#three > a { opacity: 1; filter: alpha(opacity=100); }

/* line 90, home.scss */
section li, section li > a { -moz-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center center; }

/* line 96, home.scss */
section li:hover > a { opacity: 1; -webkit-transition: opacity 0.5s ease-in-out; -moz-transition: opacity 0.5s ease-in-out; -o-transition: opacity 0.5s ease-in-out; -ms-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; filter: alpha(opacity=100); }

/* line 105, home.scss */
#main-promo { text-indent: 0; }

/* line 107, home.scss */
#main-promo a { opacity: 1; filter: alpha(opacity=100); }

/* line 111, home.scss */
.slideshow { z-index: 0; }

/* line 114, home.scss */
.slideshow, .slideshow a { position: absolute; width: 100%; height: 100%; top: 0; left: 0; overflow: hidden; }

/* line 122, home.scss */
.slideshow a { z-index: 1; -moz-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center center; }

/* line 129, home.scss */
.slideshow a:first-child { background-image: url(../images/slideshow/0.jpg); }

/* line 132, home.scss */
.ieBg { position: absolute; width: 100%; overflow: hidden; top: 0; bottom: 0; }

/* line 139, home.scss */
.slideshow a:first-child { z-index: 5; }

/* line 142, home.scss */
#paging { position: absolute; bottom: 7px; right: 9px; font-size: 22px; z-index: 30; cursor: pointer; }

/* line 150, home.scss */
#paging span { cursor: pointer; display: inline-block; text-indent: -9000px; background-position: -160px -464px; width: 18px; height: 18px; margin-left: 11px; }

/* line 159, home.scss */
#paging span.active { background-position: -196px -464px; }

/* line 162, home.scss */
#main-promo { height: 203px; }

/* line 165, home.scss */
#mens-collect { height: 193px; width: 44.375%; }

/* line 169, home.scss */
#mens-collect, #three, #four { right: 0; position: absolute; top: 254px; }

/* line 174, home.scss */
#three, #four { left: 0; width: 55.625%; right: auto; height: 96.5px; }

/* line 180, home.scss */
#four { top: 350.5px; }

/* line 183, home.scss */
#buckets1 { padding-top: 0; }

/* line 186, home.scss */
#buckets2 li, #one, #two { height: 150px; }

/* line 189, home.scss */
h1.headline-1, h3 { font-size: 1.875em; /*%*/ line-height: 1em; white-space: nowrap; }

/* line 194, home.scss */
h1.headline-1 { font-size: 2.1875em; /*%*/ }

/* line 197, home.scss */
h1.headline-2 { font-size: 3.75em; /*%*/ line-height: 1em; }

/* line 201, home.scss */
#bts h3 { font-size: 1.875em; /*%*/ }

/* line 205, home.scss */
#three h4 { margin: 10% auto 11px auto; position: relative; background-position: -30px -635px; width: 113px; height: 30px; text-indent: -9000px; overflow: hidden; }

/* line 212, home.scss */
#three h4 + p { text-align: center; text-transform: uppercase; font-size: 1.8em; padding: 0; }

/* line 218, home.scss */
h3 span { position: relative; top: 32px; left: -79px; }

/* line 224, home.scss */
h1.headline-1 { bottom: 23%; left: 4.375%; position: absolute; z-index: 10; }

/* line 230, home.scss */
#main-promo p { position: absolute; bottom: 13%; left: 11.3%; z-index: 10; letter-spacing: 0.12em; text-transform: uppercase; font-size: 1.5em; padding: 0; }

/* line 240, home.scss */
hgroup { bottom: 7%; left: 4.375%; position: absolute; z-index: 10; }

/* line 246, home.scss */
hgroup p { text-transform: uppercase; font-size: 1.2em; margin-left: 20px; margin-top: -8px; }

/* line 252, home.scss */
hgroup p span { font-size: 2em; }

/* line 255, home.scss */
section a + div, #four div { position: absolute; left: 4.375%; height: 100px; top: 50%; margin-top: -50px; }

/* line 262, home.scss */
section div p { font-size: 1.2em; line-height: 1.33em; padding: 3px 25% 0 15px; }

/* line 267, home.scss */
#mens-collect h3 { position: absolute; bottom: 31.25%; left: 5.5%; font-size: 1.75em; /*%*/ }

/* line 273, home.scss */
#two div p { padding: 10px 45% 0 5px; display: inline-block; text-transform: uppercase; font-size: 1.4em; }

/* line 279, home.scss */
#three div { margin: -50px auto 0; max-width: 168px; position: relative; top: 50%; }

/* line 285, home.scss */
#three .give-1 { display: none; }

/* line 289, home.scss */
h4 img { max-width: 100%; }

/* line 292, home.scss */
#three h4 span { font-size: 3em; text-transform: capitalize; position: absolute; left: 84px; bottom: -5px; letter-spacing: 0; white-space: nowrap; }

/* line 301, home.scss */
#three .give-2 { font-size: 1.1em; line-height: 1em; padding: 7px 0 0 13px; letter-spacing: -0.08em; }

/* line 307, home.scss */
#sign-up { font-size: 1.1em; line-height: 1em; text-transform: uppercase; padding: 7px 0 0 48px; }

/* line 313, home.scss */
#sign-up a { text-decoration: underline !important; }

/* line 316, home.scss */
#four div { left: 0; width: 100%; height: 80px; margin-top: -40px; }

/* line 322, home.scss */
#four input { background-color: #f0eee3; font-size: 1.1em; color: #3b3632; text-align: center; border: 0; padding: 3px; max-width: 110px; display: inline-block; }

/* line 332, home.scss */
.no-rgba #four input { background-color: #53474c; }

/* line 335, home.scss */
#four h5 + p { padding: 2px 0 6px 0; max-width: 100px; margin: 0 auto; }

/* line 340, home.scss */
#four input[type="button"] { text-transform: uppercase; border-left: 0; padding: 3px; margin-left: 1px; }

/* line 347, home.scss */
#four h5 { font-size: 1.3em; text-transform: uppercase; letter-spacing: 0.04em; font-weight: normal; text-align: center; }

/* line 354, home.scss */
#four p { text-align: center; padding: 0; }

/* line 358, home.scss */
.music { font-size: 1em; text-decoration: underline; line-height: 1.8em; text-transform: uppercase; cursor: pointer; }

/* line 365, home.scss */
#four span.stop { display: none; }

/* line 369, home.scss */
#gtl .pin { padding: 10px 0 0 15px; display: none; }

/* line 373, home.scss */
#gtl p span { text-transform: uppercase; text-decoration: underline; display: none; }

/* line 378, home.scss */
#gtl p { display: inline-block; max-width: 245px; }

/* line 382, home.scss */
#two h3 span { left: auto; top: auto; }

/* line 386, home.scss */
#bts div { height: auto; top: auto; bottom: 20%; }

/* line 391, home.scss */
#bts p { padding-left: 90px; text-transform: uppercase; letter-spacing: 0.04em; font-size: 1.6em; padding-top: 11px; padding-right: 0; }

@media screen and (min-width: 373px) { /* line 401, home.scss */
  #mens-collect, #three { top: 286px; }
  /* line 404, home.scss */
  #mens-collect { height: 224px; }
  /* line 407, home.scss */
  #three, #four { height: 112px; }
  /* line 410, home.scss */
  #four { top: 396px; }
  /* line 413, home.scss */
  #buckets1 { padding-top: 0; }
  /* line 416, home.scss */
  #buckets2 li, #one, #two { height: 174px; }
  /* line 419, home.scss */
  #main-promo { height: 235px; } }
@media screen and (min-width: 426px) { /* line 426, home.scss */
  #main-promo { height: 264px; }
  /* line 429, home.scss */
  #mens-collect, #three { top: 315px; }
  /* line 432, home.scss */
  #mens-collect { height: 256px; }
  /* line 435, home.scss */
  #three, #four { height: 128px; }
  /* line 438, home.scss */
  #four { top: 441px; }
  /* line 441, home.scss */
  #buckets1 { padding-top: 0; }
  /* line 444, home.scss */
  #buckets2 li, #one, #two { height: 199px; } }
@media screen and (min-width: 482px) { /* line 451, home.scss */
  #mens-collect, #three { top: 367px; }
  /* line 454, home.scss */
  #mens-collect { height: 301px; }
  /* line 457, home.scss */
  #three, #four { height: 150.5px; }
  /* line 460, home.scss */
  #three div { max-width: 218px; margin: -70px auto 0; }
  /* line 465, home.scss */
  #three h4 span { font-size: 3em; left: 108px; bottom: -5px; white-space: nowrap; }
  /* line 475, home.scss */
  #sign-up { font-size: 1.4em; line-height: 1em; letter-spacing: 0; padding: 12px 0 0 0; text-align: center; }
  /* line 482, home.scss */
  #four { top: 517px; }
  /* line 485, home.scss */
  #buckets1 { padding-top: 0; }
  /* line 488, home.scss */
  #buckets2 li, #one, #two { height: 235px; }
  /* line 491, home.scss */
  #main-promo { height: 316px; } }
@media screen and (min-width: 550px) { /* line 496, home.scss */
  #three h4 { margin: 20% auto 11px auto; }
  /* line 498, home.scss */
  section { padding-bottom: 0; }
  /* line 501, home.scss */
  #mens-collect { height: 331px; }
  /* line 504, home.scss */
  #mens-collect, #three { top: 427px; }
  /* line 507, home.scss */
  #three, #four { height: 165.5px; }
  /* line 510, home.scss */
  #four { top: 592px; }
  /* line 513, home.scss */
  #buckets1 { padding-top: 0; }
  /* line 516, home.scss */
  #buckets2 li, #one, #two { height: 257px; }
  /* line 519, home.scss */
  #main-promo { height: 348px; }
  /* line 522, home.scss */
  #gtl:hover span { display: inline; }
  /* line 525, home.scss */
  #gtl:hover .pin { display: block; }
  /* line 528, home.scss */
  #three .give-2 { display: none; }
  /* line 531, home.scss */
  #three .give-1 { display: block; font-size: 1.2em; line-height: 1.5em; padding: 13px 20px 0 20px; letter-spacing: -0.03em; }
  /* line 538, home.scss */
  #three div { max-width: 300px; }
  /* line 541, home.scss */
  #two div p { padding: 10px 0 0 5px; } }
@media screen and (min-width: 616px) { /* line 547, home.scss */
  #mens-collect { height: 371px; }
  /* line 550, home.scss */
  #mens-collect, #three { top: 469px; }
  /* line 553, home.scss */
  #three, #four { height: 185px; }
  /* line 556, home.scss */
  #four { top: 654.5px; }
  /* line 559, home.scss */
  #buckets1 { padding-top: 0 }
  /* line 562, home.scss */
  #buckets2 li, #one, #two { height: 290px; }
  /* line 565, home.scss */
  #main-promo { height: 390px; } }
@media screen and (min-width: 690px) { /* line 571, home.scss */
  section li { position: relative !important; float: left; height: 100% !important; top: auto !important; left: auto !important; right: auto !important; vertical-align: top; }
  /* line 580, home.scss */
  #leader { height: 357px; width: 100%; }
  /* line 584, home.scss */
  section ul { margin: 2px; }
  /* line 587, home.scss */
  #buckets1, #buckets2 { width: 100%; height: 300px; padding: 0; }
  /* line 592, home.scss */
  #main-promo { width: 75%; }
  /* line 595, home.scss */
  #mens-collect { width: 25%; }
  /* line 598, home.scss */
  #two { width: 66%; }
  /* line 601, home.scss */
  #three, #four { width: 34%; height: 150px !important; }
  /* line 605, home.scss */
  #four { margin-top: 0px; }
  /* line 608, home.scss */
  #gtl, #bts { width: 50%; }
  /* line 611, home.scss */
  #three.give-2 { display: block; }
  /* line 614, home.scss */
  #three .give-1 { display: none; }
  /* line 617, home.scss */
  #bts div { bottom: 50%; } }
@media screen and (min-width: 900px) { /* line 622, home.scss */
  #paging { bottom: 12px; right: 13px; }
  /* line 626, home.scss */
  #paging span { margin-left: 13px; }
  /* line 629, home.scss */
  h3 { font-size: 3em; /*%*/ }
  /* line 633, home.scss */
  h1.headline-2 { font-size: 5.45375em; /*%*/ }
  /* line 636, home.scss */
  #bts h3 { font-size: 3em; /*%*/ }
  /* line 639, home.scss */
  section div p { font-size: 1.4em; line-height: 1.28em; padding: 3px 25% 0 15px; }
  /* line 644, home.scss */
  h1 span, h3 span { top: 47px; left: -119px; }
  /* line 649, home.scss */
  hgroup { bottom: 6%; left: 15.5%; }
  /* line 653, home.scss */
  h1.headline-1 { font-size: 3.6em; /*%*/ bottom: 22%; left: 5.9%; }
  /* line 658, home.scss */
  #main-promo p { left: 18.3%; bottom: 14%; font-size: 1.8em; }
  /* line 664, home.scss */
  #mens-collect h3 { font-size: 2.6875em; /*%*/ bottom: 23.5%; left: 3.4%; }
  /* line 669, home.scss */
  #mens-collect h3 span { left: -110px; }
  /* line 673, home.scss */
  #four div { top: 50%; }
  /* line 677, home.scss */
  section a + div { left: 4.375%; height: auto; top: auto; margin-top: 0; }
  /* line 683, home.scss */
  #two div { bottom: 27%; left: 7%; }
  /* line 687, home.scss */
  #two h3 { font-size: 2.75em; /* %*/ }
  /* line 697, home.scss */
  #one h3 { font-size: 2.75em; /*%*/ }
  /* line 700, home.scss */
  #one div { bottom: 18%; left: 5.6%; }
  /* line 704, home.scss */
  #one span { left: -88px; top: 34px; }
  /* line 708, home.scss */
  #one p { padding: 48px 0 0 94px; text-transform: uppercase; letter-spacing: 0.04em; }
  /* line 713, home.scss */
  #gtl div { left: 8.3%; bottom: auto; top: 51%; }
  /* line 718, home.scss */
  #gtl .pin { padding: 10px 0 0 21px; }
  /* line 721, home.scss */
  #gtl p { padding: 7px 25% 0 21px; }
  /* line 724, home.scss */
  #bts div { left: 13.8%; bottom: 30%; }
  /* line 728, home.scss */
  #bts p { padding: 13px 0 0 159px; }
  /* line 732, home.scss */
  section { padding-bottom: 0; }
  /* line 735, home.scss */
  #one { width: 37.5%; display: inline-block; }
  /* line 740, home.scss */
  #four strong { font-size: 1.8em; line-height: 1.5em; }
  /* line 744, home.scss */
  #four strong + em { font-size: 3.1em; line-height: 1.4em; }
  /* line 748, home.scss */
  #four h5 + p { max-width: inherit; }
  /* line 751, home.scss */
  #four a + em { font-size: 2.2em; line-height: 1.2857em; }
  /* line 755, home.scss */
  .music { font-size: 1.5em; line-height: 1.6em; }
  /* line 759, home.scss */
  #mens-collect, #three, #four { width: 25%; }
  /* line 762, home.scss */
  #three, #four { height: 168px !important; }
  /* line 765, home.scss */
  #two { width: 37.5%; }
  /* line 768, home.scss */
  #leader { height: 600px; }
  /* line 771, home.scss */
  #buckets1, #buckets2 { height: 336px; }
  /* line 775, home.scss */
  #three .give-1 { padding: 8px 0 0 20px; }
  /* line 778, home.scss */
  #three .give-1 { display: block; }
  /* line 781, home.scss */
  #three .give-2 { display: none; } }
@media screen and (min-width: 950px) { /* line 786, home.scss */
  #four h5 { font-size: 2em; }
  /* line 789, home.scss */
  #four div { top: 50%; height: 85px; margin-top: -42.5px; }
  /* line 794, home.scss */
  #four input { font-size: 1.071em; padding: 3px; max-width: 157px; }
  /* line 799, home.scss */
  #four h5 + p { padding: 1px 0 11px 0; max-width: 100%; } }
@media screen and (min-width: 1024px) { /* line 805, home.scss */
  #three div { max-width: 258px; margin: -80px auto 0; }
  /* line 810, home.scss */
  #three h4 span { font-size: 3.215em; left: 138px; bottom: -12px; white-space: nowrap; }
  /* line 816, home.scss */
  #three .give-1 { padding: 13px 0 0 13px; } }
@media screen and (min-width: 1200px) { /* line 821, home.scss */
  section { padding-bottom: 0; }
  /* line 825, home.scss */
  #mens-collect h3 span { left: auto; top: auto; } }